---
import { formatDate } from "../utils/fecha.formato";
import { slugify } from "../utils/utils";

interface Props {
  post: any;
}

const { post } = Astro.props;
---

<div
  class="h-full border border-gray-900 rounded-2xl bg-slate-200/50 from-gray-200 via-gray-300 to-white p-[1px] text-6xl md:text-lg shadow-[inset_0_0_0_1px_rgba(255,255,255,0.4)]"
>
  <div class="flex h-full w-full flex-col rounded-[1rem] p-4 opacity-90">
    <div class="flex-auto">
      <div class="flex justify-between pb-2 text-xs">
        <a
          href=`/categoria/${slugify(post.frontmatter.categoria)}/`
          class="border border-gray-800 px-2.5 py-1 bg-gray-900 text-white font-bold"
          >{post.frontmatter.categoria}</a
        >
      </div>
      <div class="flex justify-between pb-2 text-xs md:text-[16px]">
        <p>{formatDate(post.frontmatter.pubDate)}</p>
      </div>

      <a href={`${post.url}/`}>
        <div class="flex justify-center items-center mx-auto">
          {
            post.frontmatter.image.src ? (
              <img
                src={post.frontmatter.image.src}
                alt={post.frontmatter.image.src}
                class="w-full"
              />
            ) : null
          }
        </div>
        <h2 class="py-2 tex-6xl md:text-[16px] font-bold">
          {post.frontmatter.title}
        </h2>

        <p class="line-clamp-6 pt-1 text-[16px]">{post.frontmatter.excerpt}</p>
      </a>
    </div>
    <a href={`${post.url}/`} class="pt-2 underline hover:font-bold"
      >leer más →</a
    >
  </div>
</div>
