---
import { formatDate } from "../utils/fecha.formato";
import TablaDeContenido from "./TablaDeContenido.astro";
import { slugify } from "../utils/utils";

interface Props {
  title: string;
  pubDate: string;
  author: string;
  categoria: string;

  img: {
    src: string;
    alt: string;
  };
}

const { title, pubDate, img, author, categoria} = Astro.props;

const formattedDate = formatDate(pubDate);
---

 
  <div class="flex flex-col items-center gap-1">
    <h1 class="px-1 pb-4 pt-6 text-8xl md:text-4xl font-bold">
      {title}
    </h1>
    <div class="flex flex-col w-full p-2 text-3xl md:text-lg mb-2">
      <span>
        Autor: <span class="font-bold">{author}</span>
      </span>
      <span>{formattedDate}</span>      
      <a href=`/categoria/${slugify(categoria)}/` class="p-1 bg-amber-200 border border-b-orange-400 rounded-md">{categoria}</a>
   
    </div>
  </div>
  <div class="flex justify-center items-center mx-auto">
    {
      img.src ? (
        <img src={img.src} alt={img.alt} class="max-w-xl rounded-md" />
      ) : null
    }
  </div>
 
